.container-lg {
    max-width: 960px;
}

.container-lg.container_main {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.mb_faq {
    margin-bottom: 3rem;
}

main a {
    text-decoration: none;
}

footer {
    background-color: lightgray;
}